@import "../mixin.scss";

.legal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 96px 248px;

    .list-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include responsive("tablet") {
        gap: 10px;
        padding: 40px 100px;

        .list-section {
            gap: 10px;
        }
    }

    @include responsive("mobile") {
        gap: 10px;
        padding: 10px 20px;

        .list-section {
            gap: 10px;
        }
    }
}
